body {
    background-color: lightgreen;
}

li {
    list-style: none;
    padding: 5px;
}
ul {
    display: flex;
    flex-flow: row wrap;
}
img {
    width: 200px;
    height: 200px;
    outline: auto;
}
#PokeName {
    text-decoration: underline;
}