{% extends 'base_template.html' %}
{% block css %}
<link rel="stylesheet" href="/static/favourites.css">
<link rel="stylesheet" href="/static/template.css">
{% endblock %}
{% block content %}
<ul>
    {% for name, generation, image, pokedex in pokemon %}
    
        <li>
            <h3><span id="PokeName">{{name}}</span><br>Generation: {{generation}}</h3>
            <h4>National Pokedex No. {{pokedex}}</h4>
            <a href="/{{pokedex}}"><img src="{{image}}" alt="Test"></a>
        </li>
    
    {% endfor %}
</ul>

{% endblock %}