{% extends 'base_template.html' %}
{% block css %}
<link rel="stylesheet" href="/static/index.css">
<link rel="stylesheet" href="/static/template.css">
{% endblock %}
{% block content %}
{% if session['Logged_in'] == True %}
    <form action="/favourites">
        <input type="submit" value="Favourites">
    </form>
{% endif %}
<h1>Generation: {{select}}</h1>
<form method="POST">
    <select name="gen_choice" required>
        <option value="All" hidden selected>Choose Gen</option>
        <option value="All">All</option>
        <option value=1>I</option>
        <option value=2>II</option>
        <option value=3>III</option>
        <option value=4>IV</option>
        <option value=5>V</option>
        <option value=6>VI</option>
        <option value=7>VII</option>
        <option value=8>VIII</option>
    </select>
    
    <input id="pokesearch" type="text" name="pokesearch" placeholder="Search for a pokemon...(Optional)">
    <input type="submit" name="submit_gen">
</form>
<ul>
    {% for name, generation, image, pokedex in pokemon %}
    <li>
        <h3><span id="PokeName">{{name}}</span><br>Generation: {{generation}}</h3>
        <h4>National Pokedex No. {{pokedex}}</h4>
        <a href="/{{pokedex}}"><img href="/{{pokedex}}" src="{{image}}" alt="{{name}}"></a>
    </li>
    {% endfor %}
</ul>
{% endblock %}